* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Oleo Script Swash Caps';
    src: url('../../Font/Oleo_Script_Swash_Caps/OleoScriptSwashCaps-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    src: url('../../Font/Inter/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
}

.Navbar {
    display: flex;
    align-items: center;
    justify-content: space-between; /* This will space out the logo and button_space */
    width: 100%;
    height: 120px;
    padding: 0 30px; /* Optional: add padding to left and right */
}

.logo .firstlogo {
    font-family: 'Oleo Script Swash Caps';
    font-size: 64px;
    color: #00CA18;
}

.logo .secondlogo {
    font-family: 'Oleo Script Swash Caps';
    font-size: 64px;
    color: #1CCBBC;
}

.button_space {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Ensures that items within button_space are aligned to the right */
}

.button_space .button {
    font-weight: 600;
    font-family: 'Inter';
    font-size: 15px;
    padding-right: 34px;
}

.log_re {
    font-weight: 600;
    font-family: 'Inter';
    font-size: 15px;
    display: flex;
}

.line {
    padding: 0px 8px;
}
